*{margin: 0;padding: 0;}
html{font-size: 62.7%;}
@media screen and (max-width: 460px) and (min-width: 320px){
    html{
        font-size: 40%;
    }
}
@media screen  and (max-width: 320px) {
    html{
        font-size: 30%;
    }
}
html,body{
    height: 100%;
}
body,hr{
    margin: 0;
}
a{text-decoration: none}
.whole{
    max-width: 600px;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.header{
    width: 98%;
    padding:0 0 2% 2%;
    margin: 0;
    background-color: #29bde0;
}
#content{
    background-color:#f0f0f0;
    margin: 0;
    max-width:600px;
    width: 100%;
    min-height: 100%;
    padding:10% 0;
    position: relative;
}

div.content-top{
    background-color: white;
    margin:0 5% 5% 5%;
    font-size:3.5rem;
    text-align: center;
    padding: 1% 5%;
}
.content-bottom-{
    margin: 2% 5%;
    position: relative;
}
div.content-bottom{
    background-color: white;
    text-align: center;
    position: relative;
}
div.content-bottom-title{
    color: #fdd455;
    font-size: 3.8rem;
    padding-top: 2%;
}
div.content-bottom-top{
    width: 80%;
    margin:5% 0 0 10%;
    background-color: #69d1e9;
    font-size: 3.2rem;
    color: white;
    padding:1% 0;
}
div.content-bottom-top a{
    color: white;
}
p.content-text{
    font-size: 2.45rem;
}
.arrow{margin-right: 2%}
#nav{
    margin:0;
    color: #72d4eb;
    font-size: 3rem;
    background-color: white;
    padding:1% 5% 5% 0;
    position: absolute;
    top:63px;
    left:auto;
    max-width: 300px;
    width: 60%;
    display: none;
}
#nav a{color: #72d4eb;}
.content-bottom-img{
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    color:#69d1e9;
    font-size: 4rem;
    position: absolute;
    top:0;
    left: 200%;
}
.content-bottom-img p.font{
    font-size: 2.45rem;
    color:black;
}
.content-bottom-img ul{
    margin-left: 43%;
}
.content-bottom-img li{
    width: 16px;
    height: 16px;
    margin: 1%;
    float: left;
    background-color: #f0f0f0;
    border-radius: 8px;
    list-style-type:none;
}
.content-bottom-img li.on{
    background-color: #29bde0;
}