*{margin: 0;padding: 0}
html{font-size: 10px}
html,body{height: 100%}
.whole{
    max-width: 640px;
    margin: auto;
    background-color: #29bde0;
}
header{
    padding: 2%;
    border-bottom: solid 1px #74d4eb;
    font-size: 3.4rem;
    text-align: center;
    color:white;
}
.content{
    height: 100%;
}
.content-top{
    height:70%;
    border-bottom: solid 1px #74d4eb;
    text-align: center;
    padding: 20% 0 5%;
    font-size: 2.8rem;
    color:white;
}
.content-bottom{
    font-size: 3.4rem;
    color:white;
    text-align: center;
    margin: 3% 0;
}
.content-bottom p{
    width: 60%;
    padding: 3% 0;
    margin: 0 20%;
    background-color: #24a7c6;
    border-radius: 10px;
}
button{
    width:70%;
    padding: 1% 0;
    margin:0 15%;
    color:white;
    font-size: 4rem;
    background-color: #fbb435;
}


